<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sisyphe.test.user.mapper.UserMapper">

    <resultMap id="userResultMap" type="cn.sisyphe.test.user.model.User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="selectUserByMap" parameterType="java.util.Map" resultMap="userResultMap">
        SELECT * FROM demo_user
        WHERE 1=1
        <if test="condition.userNameLike != null" >
            and user_name like CONCAT('%',#{condition.userNameLike},'%')
        </if>
    </select>

    <select id="selectUserPage" parameterType="java.util.Map" resultMap="userResultMap">
        SELECT * FROM demo_user
        WHERE 1=1
        <if test="condition.userNameLike != null" >
            and user_name like CONCAT('%',#{condition.userNameLike},'%')
        </if>
    </select>

</mapper>